/* styles/style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#piano-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#piano {
    position: relative;
    width: 280px; /* Ajustado para apenas uma oitava */
    height: 200px;
}

.white-key {
    width: 40px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 180px;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.black-key {
    width: 25px;
    height: 130px;
    background-color: black;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    margin-left: -12.5px;
    transition: background-color 0.3s ease;
}

.active-white {
    background-color: #ADD8E6;  /* Azul claro para teclas brancas tocadas */
}

.active-black {
    background-color: #FFB6C1;  /* Rosa claro para teclas pretas tocadas */
}

#output {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
